<a asp-controller="User" asp-action="Logout">Logout</a> 
<a asp-controller="Bright" asp-action="Show">BrightIdeas</a> 
 @foreach (var e in ViewBag.errors)
 {
        <p>@e</p>
 }

 <p><a asp-controller="User" asp-action="UserInfo" asp-route-ChosenId=@ViewBag.Concept.UsersId>@ViewBag.Concept.Users.Alias</a>  says: </p><h4>@ViewBag.Concept.Content</h4> 

 <p>People who liked this post:
 </p>
 <table>
    <tr>
        <th>Alias</th>
        <th>Name</th>
        </tr>
        @foreach(var u in ViewBag.Likes){
          <tr>
              <td>@u.Users.Alias</td>
               <td>@u.Users.FirstName</td>
          </tr>
        }
 </table>